@media (max-width:1024px){

    .container-presentacion{
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }
    .presentacion{
        width: 300px;
        margin: auto;
    }
    .video{
        width: 300px;
    }
    .coment.a {
        grid-area: 1 / 1 / 1 / -1;
    }
    .coment.b {
    grid-area: 3 / 1 / 2 / -1;
    }
    .coment.c {
        grid-area: 3/4/span2/1;
    }
}

@media (max-width:800px){
    .container-presentacion-completa{
    margin: 0 ;
    }
    .title-presentacion{
        margin: 0px 0;
    }
    .container-presentacion{
        grid-template-columns: 1fr;
        margin: 20px;
    }
    .presentacion{
        height: 150px;
        width: 300px;
        margin: auto;
    }
    .container-video{
        display: none;
    }
    

}

@media (max-width:450px){
    
    .registro{
            padding: 10px;
    }
    .title-presentacion h2{
        font-size: 25px;
    }
    body{
        background: #bfd6fa;
    }
    .container-presentacion{
        grid-template-columns: 1fr;
        margin: 20px;
    }
    .presentacion{
        height: 150px;
        width: 90%;
        margin: auto;
        padding: 10px;
    }
    .container-video{
        display: none;
    }
    .coment-foto{
        width: 90%;
    }
    
    
}
@media (max-width:400px){
    .header input{
        display: none;
    }
}