@media (max-width:1024px){


    .container-presentacion{
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }
    .presentacion{
        width: 300px;
        margin: auto;
    }
    .video{
        width: 300px;
    }
    .container-indexGuia{
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 200px 200px;

    }


    .coment.a {
        grid-area: 1 / 1 / 1 / -1;
    }
    .coment.b {
    grid-area: 3 / 1 / 2 / -1;
    }
    .coment.c {
        grid-area: 3/4/span2/1;
    }
}

@media (max-width:800px){
    
    .container-presentacion-completa{
    margin: 0 ;
    }
    .title-presentacion{
        margin: 0px 0;
    }
    .container-presentacion{
        grid-template-columns: 1fr;
        margin: 20px;
    }
    .presentacion{
        height: 160px;
        width: 300px;
        margin: auto;
    }
    .title-presentacion h2{
        font-size: 25px;
    }

    .container-video{
        /* display: none; */
        margin: 0;
    }
    .video{
        width: 75px;
        height: 50px;
    }

}

@media (max-width:450px){

    .title-presentacion h2{
        font-size: 25px;
    }
    body{
        background: #bfd6fa;
    }
    .container-presentacion{
        grid-template-columns: 1fr;
        margin: 20px;
    }
    .presentacion{
        height: 150px;
        width: 90%;
        margin: auto;
        padding: 10px;
    }

    .registro{
        margin-top: 20px;
        
    }
    .container-video{
        display: none;
    }

    .hero{
        margin: 15px 0px 15px 0;
        font-size: 20px;
    }
    .container-indexGuia{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(3,150px);
    }
    .items-cliente{
        justify-content: center;
        grid-template-columns: 80%;
        grid-template-rows: repeat(2,120px);
    }
    .coment-foto{
        width: 90%;
    }
    
    
}
@media (max-width:400px){
    .buscar{
        display: none;
    }
    .registro{
        padding: 10px;
        
    }
}